<%= render 'breadcrumb' %>
<div class="well text-center">
  <h2><%= @position.name %></h2>

  <p class="muted"><%= @position.desc %></p>
</div>
<hr class="hr"/>
<% @position.points.each_with_index do |pp, i| %>

    <div class="well has-border bg-color-f5  container-fluid has-border">

      <div class="row-fluid">
        <div class="span3 well">
          <p class="text-center text-success"><%= pp.name %></p>

          <p class="text-center muted">
            <small><%= pp.desc %></small>
          </p>
        </div>
        <div class="span9 well-small">
          <dl>
            <% pp.articles.each do |a| %>
                <dt><%= link_to a.name, a %></dt>
                <dd><%= a.desc %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
    <div class="text-center"><label class="label label-inverse"><%= i+1 %></label></div>
    <br/>
<% end %>
</div>
