<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'articles_nav' %>
    <div class="span9">
      <%- if not @articles.empty? %>
          <%- @articles.each do |a| %>
              <div class="well has-border"><strong><%= link_to a.name, a %></strong>

                <p>
                  <small class="muted"><%= a.desc %></small>
                </p>
                <div><%= a.content %></div>
              </div>
          <%- end %>
      <%- else %>
          <div class="well well-large">
            <p class='lead muted text-center'>
              <%= t('article.no_articles') %>
            </p>
          </div>
      <%- end %>
    </div>
  </div>
</div>