<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'articles_nav' %>
    <div class="span9">
      <dl>
        <%- if not @articles.empty? %>
            <%- @articles.each do |a| %>
                <dt>
                  <%- if a.article_content.nil? %>
                      <%= link_to a.name, a.url, :target => :blank, :class => 'inline' %>
                  <%- else %>
                      <%= link_to a.name, a, :class => 'inline' %>
                  <%- end %>
                  <%= link_to content_tag(:i, ' ', :class => 'icon-star-empty'), root_path %>
                </dt>
                <dd>
                  <small class="muted"><%= a.desc %></small>
                  <br/>
                  <small class="muted pull-right"><%= t('article.shared_by', :user => a.user.name) %></small>
                  <br/>
                </dd>
            <%- end %>
            </dl>
        <%- else %>
            <div class="well well-large">
              <p class='lead muted text-center'>
                <%= t('article.no_articles') %>
              </p>
            </div>
        <%- end %>
        </div>
  </div>
</div>