<script type="text/javascript">
    $(document).ready(function () {
        var buttonsOptions = {nextText: "<%=t('wizard.buttons.next')%>", backText: "<%=t('wizard.buttons.back')%>", submitText: "<%=t('wizard.buttons.submit')%>", submittingText: "<%=t('wizard.buttons.submitting')%>"}
        var options = {buttons: buttonsOptions, submitUrl: "/wizard_submit" };
        var wizard = $("#wizard").wizard(options);
        wizard.show();

        $("#wizard-done").click(function () {
            wizard.reset().close();
        });
    });
</script>
<div class="wizard" id="wizard">
  <h1> <%= t('wizard.title') %></h1>

  <div class="wizard-card" data-cardname="card1">
    <h3><%= t('wizard.pages.card_1') %></h3>
    Some content
  </div>
  <div class="wizard-card" data-cardname="card2">
    <h3><%= t('wizard.pages.card_2') %></h3>
    Some content
  </div>

  <div class="wizard-success">
    submission succeeded!
    <%= link_to t('wizard.done'), root_path, :class => 'btn btn-primary', :id => 'wizard-done' %>
  </div>

  <div class="wizard-error">
    submission had an error
  </div>

  <div class="wizard-failure">
    submission failed!
    <%= link_to t('wizard.done'), root_path, :class => 'btn btn-primary', :id => 'wizard-done' %>
  </div>
</div>

<div class='well'>
  <p class="inline"><%= t('wizard.if_wizard') %></p>
  <%= link_to t('wizard.back_to')+t('home_page'), root_path, :class => 'btn btn-primary' %>
</div>