<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to raw('<color-title>'+t('qa')+'</color-title> <site-title>'+t('casts')+'</site-title>'), root_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'home' %>">
            <%= link_to t('home_page'), root_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'positions' %>">
            <%= link_to t('activerecord.models.position'), positions_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'articles' %>">
            <%= link_to t('activerecord.models.article'), articles_path %>
          </li>
          <%- if user_signed_in? %>
              <li>
                <%= link_to t('site_admin'), rails_admin_path %>
              </li>
          <%- end %>
        </ul>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
              <strong><%= link_to current_user.name, root_path %></strong>
              <%= link_to content_tag(:i, ' ', :class => 'icon-signout'), destroy_user_session_path, :method => :delete, :data => {:confirm => t('are_you_sure')}, :title => t('devise.navigation.sign_out') %>
          <% else %>
              <%= link_to content_tag(:i, ' ', :class => 'icon-google-plus')+t('sign_in_with', :provider => :Google), user_omniauth_authorize_path(:google_oauth2) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>